.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: -webkit-center;
  }
  
  @media (max-width: 768px) {
    .item-list {
      grid-template-columns: 1fr;
    }
  }
  