.item-count-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

.counter {
  display: flex;
  align-items: center;
  border: 1px solid #555;
  border-radius: 4px;
  padding: none;
  background-color: #3c3c3c;
  margin-right: 10px;
}

.counter-button {
  background-color: #444;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  color: #e0e0e0;
  border-radius: 4px;
}

.add-to-cart-button {
  background-color: #444;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.add-to-cart-button:hover:not(:disabled) {
  background-color: #555;
  color: white;
}
