.navbar {
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .navbar-logo {
    height: 80px;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin: 0 15px;
    cursor: pointer;
  }

  .navbar-menu li:hover {
    color: #007BFF;
    box-shadow: gray;
  }
  
  .cart-widget {
    /* Estilos para el CartWidget si es necesario */
  }
  